<div class="container my-5" style="max-width: 450px">
  <h3 class="d-flex align-items-center gap-2 fw-bold justify-content-center mb-3"><i class="fa fa-paw text-light-main"></i> パスワードを変更する</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <div class="mb-3">
      <%= f.label :password, "新しいパスワードを入力", class: "mb-2" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上入力してください。)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password_confirmation, "パスワードの確認", class: "mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="actions text-center mt-4">
      <%= f.submit "変更する", class: "btn bg-main text-white fw-bold px-4" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>
